* {
    margin: 0;
    padding: 0;
    border: 0;
}
#header {
    position: relative;
    max-height: 100vh;
    max-width: auto;
    border-bottom: 20px solid rgb(255, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.800) 5%, rgba(0, 0, 0, 0.390) 40%, rgba(0, 0, 0, 0.781) 85%);
}
#cover {   
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
    top: -134px;    
}
#logo {
    pointer-events: none; 
    user-select: none;
    max-width: 10.1%;
    max-height: auto;
    margin: 2.1% 4.3%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: transparent;
}
#covercontent {
    position: absolute;
    z-index: 3;
    text-align: center;
    width: 100%;
    top: 50%;
}

h1 {
    font-size: xx-large;
    color: white;
}

.subheader {
    font-size: large;
    color: white;
}
.emailprompttext {
    font-size: medium;
    color: white;
}

/* 
p, a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

footer {
    background-color: black;
} */

